/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style */
.flex{
  display: flex;
}
:root{
  --primary-color: #3A3A3A;
  --btn-bg-color: #E02C6D;
}

/* nav style */
.nav{
  /* display: flex; */
  max-width: 1228px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.nav a{
  text-decoration: none;
}
.nav-logo{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
}
.nav-menu{
  gap: 20px;
}
.nav-menu ul{
  list-style: none;
  align-items: center;
  gap: 30px;
}
.nav-menu li a{
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}
.nav-menu li a:hover{
  color: var(--btn-bg-color);
  transform: scale(1.5);
  border-bottom: 2px solid #E02C6D;
  padding-bottom: 15px;
}
.nav-menu li i{
  transition: scale 2s linear 3s;
}
.nav-menu li i:hover{
  color: var(--btn-bg-color);
  transform: scale(1.8); 
}
.cart{
  text-align: center;
}







/* responsive style */
/* mobile screen */
@media screen and (max-width:576px) {
  .nav{
    flex-direction: column;
    padding: 15px;
    align-items: start;
    position: relative;
  }
  .sm-hide{
    visibility: hidden;
  }
  .cart{
    position: absolute;
    left: calc(100% - 40px);
    top: 20px;
  }
}

/* tablet screen */
@media screen and (min-width:577px) and (max-width:992px) {
  .nav{
    gap: 10px;
    flex-direction: column;
    padding: 15px;
  }
}